/* header */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg_image{
    background: url("/assets/the-creepshow.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: .5;
}

.logo{
    width: 30%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.spotplayer{
    position: absolute;
    bottom: 0;
}

.header--main{
    z-index: 1;
}

/* Navigation */
.menu_container {
    width: 51px;
    height: auto;
    float: left;
    display: none;
    padding: 10px;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, .8);
}

.menu-line {
    width: 100%;
    height: 3px;
    margin: 8px 0px;
    background: #fff;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav{
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: center;
}

.nav a{
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    margin: 0px 15px;
    justify-content: center;
}

/* Instagram feed */
.instagram_feed{
    width: 100%;
    height: auto;
    /* background: #fff; */
}

.instagram_gallery {
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 8px solid #F8F125;
    border-bottom: 8px solid #F8F125;
}

.instagram_feed--overflow{
    width: 100%;
}

.instagram_gallery a {
    display: inline-table;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.instagram_gallery a img {
    width: 100%;
}

.instagram_profile{
    text-align: center;
    padding: 45px;
    color: #fff;
}

.instagram_profile a{
    text-decoration: none;
    color: #fff;
}

.instagram_profile_image{
    border-radius: 50%;
}

/* Loader style */
.loader {
    border: 10px solid #a6a6a6; /* Light grey */
    border-top: 10px solid #F8F125; /* Yellow */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: block;
    margin: 30px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Footer */
.footer{
    width: 100%;
}

.footer_content{
    padding: 15px;
    color: rgb(58, 58, 58);
    background: #F8F125;
    text-align: center;
}

.logo_footer{
    width: 15%;
    padding: 15px;
}