/* header */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg_image{
    background: url("/assets/the-creepshow.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: .5;
}

.logo{
    width: 30%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.spotplayer{
    position: absolute;
    bottom: 0;
}

/* Navigation */
.nav{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: center;
}

.nav a{
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    margin: 0px 15px;
    justify-content: center;
}

/* Instagram feed */
.instagram_feed{
    width: 100%;
    height: auto;
    background: #fff;
    /* display: flex;
    justify-content: center; */
}

.instagram_gallery {
    width: auto;
    display: inline-flex;
}

.instagram_feed--overflow{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.instagram_gallery a {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.instagram_gallery a img {
    width: 100%;
}